@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap');
body {
    padding: 20px 12px 12px 12px;
}

#title {
    font-size: 36px;
    font-family: 'PT Serif', sans-serif;
}

#img-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
}

.card {
    display: flex;
}

.card:nth-of-type(even) {
    margin-top: 3rem;
}

section h2 {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

#text {
    font-size: 14px;
    max-width: 350px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    margin-bottom: 100px;
}

.position {
    font-family: 'PT Serif', sa;
    margin: 0;
    text-transform: uppercase;
    align-self: flex-start;
    transform: translateX(15px);
    font-size: 10px;
    writing-mode: vertical-lr;
}

.name {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.image {
    width: 100%;
    max-width: 140px;
    height: auto;
    border-radius: 20px;
}

footer {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #A9A9A9;
    margin-top: 10rem;
}

@media (min-width: 892px) {
    body {
        padding-left: 50px;
    }
    #text-container {
        display: flex;
        justify-content: space-around;
    }
    #img-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .card:nth-of-type(even) {
        margin: 0;
    }
    .card:nth-of-type(5) {
        margin-top: 3rem;
    }
    .card:nth-of-type(2) {
        margin-top: 3rem;
    }
    .image {
        max-width: 240px;
    }
    .name {
        font-size: 18px;
    }
    .position {
        font-size: 12px;
    }
}